Package: com.ps.youpip
Name: YouPIP
Depends: mobilesubstrate, firmware (>= 14.0) | gsc.ipad | com.cabralcole.forceinpicture | com.ps.forceinpicture
Version: 0.0.1
Architecture: iphoneos-arm
Description: Enable native PiP in YouTube app.
Maintainer: PoomSmart
Author: PoomSmart
Section: Tweaks
Replaces: com.spicat.youpip
Provides: com.spicat.youpip
Conflicts: com.spicat.youpip
Depiction: https://poomsmart.github.io/repo/depictions/youpip.html
Sileodepiction: https://poomsmart.github.io/repo/depictions/youpip.json
