Package: com.ps.youpiplegacy
Name: YouPiP Legacy
Depends: mobilesubstrate, firmware (>= 9.0), firmware (<< 11.0), gsc.ipad | com.cabralcole.forceinpicture | com.ps.forceinpicture
Version: 1.0.0
Architecture: iphoneos-arm
Description: Enable native PiP in YouTube app.
Maintainer: PoomSmart
Author: PoomSmart
Section: Tweaks
Depiction: https://poomsmart.github.io/repo/depictions/youpip.html
SileoDepiction: https://poomsmart.github.io/repo/sileodepictions/youpip.json
