<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>title</key>
        <string>YouPiP</string>
        <key>entry</key>
        <dict>
            <key>cell</key>
            <string>PSLinkCell</string>
            <key>icon</key>
            <string>YouPiP.png</string>
            <key>label</key>
            <string>YouPiP</string>
        </dict>
        <key>items</key>
        <array>
            <dict>
                <key>cell</key>
                <string>PSGroupCell</string>
                <key>label</key>
                <string>PiP Compatibility</string>
                <key>pl_filter</key>
                <dict>
                    <key>CoreFoundationVersion</key>
                    <array>
                        <string>1751.108</string>
                    </array>
                </dict>
                <key>footerText</key>
                <string>If Legacy PiP is enabled, YouPiP will implement YouTube PiP with AVPlayerLayer where there's no issue with playback speed. However, this also removes UHD video quality options (2K/4K) from any videos, and YTUHD tweak cannot fix this.

Legacy PiP does not apply to YouTube version 15.33.4 and lower.</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSSwitchCell</string>
                <key>default</key>
                <false/>
                <key>defaults</key>
                <string>com.ps.youpip</string>
                <key>key</key>
                <string>CompatibilityModeKey</string>
                <key>label</key>
                <string>Legacy PiP</string>
                <key>pl_filter</key>
                <dict>
                    <key>CoreFoundationVersion</key>
                    <array>
                        <string>1751.108</string>
                        <string>1835.100</string>
                    </array>
                </dict>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSGroupCell</string>
                <key>label</key>
                <string>Hacks</string>
                <key>pl_filter</key>
                <dict>
                    <key>CoreFoundationVersion</key>
                    <array>
                        <string>1751.108</string>
                    </array>
                </dict>
                <key>footerText</key>
                <string>Sample Buffer Hack imitates the implementation of sample buffering based PiP present on iOS 15.0b2, which should reduce the chance of getting playback speedup bug. Turn off this option if you face weird issues around PiP.</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSSwitchCell</string>
                <key>default</key>
                <true/>
                <key>defaults</key>
                <string>com.ps.youpip</string>
                <key>key</key>
                <string>SampleBufferWorkKey</string>
                <key>label</key>
                <string>Sample Buffer Hack</string>
                <key>pl_filter</key>
                <dict>
                    <key>CoreFoundationVersion</key>
                    <array>
                        <string>1751.108</string>
                        <string>1835.100</string>
                    </array>
                </dict>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSGroupCell</string>
                <key>label</key>
                <string>PiP Activation Method</string>
                <key>footerText</key>
                <string>Choose how you want to activate PiP for your video. If you choose "On PiP button tap", a PiP button will appear in the video control overlay - use this option if the former doesn't work for you.</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSLinkListCell</string>
                <key>defaults</key>
                <string>com.ps.youpip</string>
                <key>default</key>
                <integer>0</integer>
                <key>detail</key>
                <string>PSListItemsController</string>
                <key>key</key>
                <string>PiPActivationMethodKey</string>
                <key>label</key>
                <string>Method</string>
                <key>validTitles</key>
                <array>
                    <string>On App Dismiss</string>
                    <string>On PiP button tap</string>
                </array>
                <key>validValues</key>
                <array>
                    <integer>0</integer>
                    <integer>1</integer>
                </array>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSGroupCell</string>
                <key>footerAlignment</key>
                <integer>1</integer>
                <key>footerText</key>
                <string>Restart YouTube app to apply changes.

© 2021 PoomSmart</string>
            </dict>
        </array>
    </dict>
</plist>